<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1>Team Name: <%= @result["name"] %></h1>
    <h2>Coach: <%= @result["coach"] %></h2>
    <h2>Point Guard: <%= @result["pg"] %></h2>
    <h2>Shooting Guard: <%= @result["sg"] %></h2>
    <h2>Small Forward: <%= @result["sf"] %></h2>
    <h2>Power Forward: <%= @result["pf"] %></h2>
    <h2>Center: <%= @result["c"] %></h2>
    


 </body>
</html>


